<html>
<head>
  <title>Document</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  
</head>
<body>
<h1>온도 설정</h1>

<select id="temp" name="temp">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<h1>습도 설정</h1>
<select id="dehumidity" name="dehumidity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
</select>

<h1>미세먼지 설정</h1>
<select id="air_status" name="air_status">
    <option value="1">매우 좋음</option>
    <option value="2">좋음</option>
    <option value="3">보통</option>
    
</select>



<br>
<input type="submit" id="OK" value="설정"/>
<button onclick=window.close()>취소</button>


<script>

$("#OK").click(function(){
      
      $.ajax({
        url: '/popup/Detail',
        async: 'true',
        type: 'POST',
        data:{
          
          temp : $("#temp").val(),
          dehumidity : $("#dehumidity").val(),
          air_status : $("#air_status").val()
        },
        dataType: 'json',
        success : function(data){
          alert('설정 완료');
          window.close();
        },
        error: function(err){
          alert("설정 오류 "+ JSON.stringify(err));
          window.close();
        }
      });
    });
    
</script>
</body>
</html>