<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>숨좀쉬자</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

    <style>
        @media (max-width: 1000px) {

            .container {
                cursor: pointer;
                margin: 15px;
                position: absolute;
            }
            .subject {
                position: absolute;
                left: 40%;
            }
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }

            .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .change .bar2 {
                opacity: 0;
            }

            .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
            .left {
                flex: 35%;
                padding: 15px 0;
            }

            .left h2 {
                padding-left: 8px;
            }
            #mySearch {
                width: 100%;
                font-size: 18px;
                padding: 11px;
                border: 1px solid #ddd;
            }

            #myMenu {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            #myMenu li a {
                padding: 12px;
                text-decoration: none;
                color: black;
                display: block;
            }

            #myMenu li a:hover {
                background-color: #eee;
            }
            .head {
                height: 80px;
                width: 100%;
                background-color: #81bef7;
                position: absolute;
            }
            .tabs {
                display: flex;
                flex-wrap: wrap;
            }
            .tabs label {
                width: 33.333333%;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                padding: 10px 0px;
                text-align: center;
                display: block;
                cursor: pointer;
                background: white;
                font-weight: bold;
                transition: background ease 0.2s;
            }

            /*박스배경*/
            .tabs .tab {
                top: 70px;
                flex-grow: 1;
                width: 100%;
                position: absolute;
            }
            .tabs input[type="radio"] {
                display: none;
            }


            /*탭 눌렀을때 컬러*/
            .tabs input[type="radio"]:checked + label {
                background: #2a2b2c;
                color: white;
            }
            .tabs input[type="radio"]:checked + label + .tab {
                display: block;
            }

            html,
            body {
                left: 50px;
                right: 50px;
                margin: 0;
                padding: 0;
                border: 0;
                text-align: center;
            }
            #A,
            #B {
                position: absolute;
            }
            #A {
                top: 80px;
                width: 200px;
                bottom: 0px;
            }
            #B {
                top: 80px;
                left: 0px;
                right: 0;
                bottom: 0px;
                background-color: #455a64;
            }

            #base {
                background: black;
                display: inline-block;
                height: 20px;
                margin-left: 20px;
                margin-top: 45px;
                position: absolute;
                width: 40px;
                right: 25px;
            }
            #base:before {
                border-bottom: 30px solid black;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                content: "";
                height: 0;
                right: -10px;
                position: absolute;
                top: -25px;
                width: 0;
            }

            h1 {
                color: white;
                font-size: 3em;
                font-weight: 300;
                letter-spacing: 0.1em;
            }

            button {
                display: block;
                border-radius: 100%;
                border: none;
                outline: none;
                margin: 32px;
                padding: 32px;
                background-color: #03a9f4;
                box-shadow: 3px 3px 7px #333;
            }

            button:active {
                box-shadow: none;
            }

            svg {
                fill: white;
                width: 64px;
                height: 64px;
            }

            section {
                display: inline-block;
            }

            .remote-buttons {
                position: relative;
            }


            .aircleanercontrol {
                display: inline-block;
                padding: 32px 0;
            }

            .airconditionercontrol {
                display: inline-block;
                padding: 32px 0;
            }

            .humidifiercontrol {
                display: inline-block;
                padding: 32px 0;
            }

            .power {
                background-color: #ff1538;
            }

            .source {
                background-color: #ff8f01;
            }
        }
        @media (min-width: 1000px) {
            .container {
                cursor: pointer;
                margin: 25px;
                position: absolute;
            }
            .subject {
                position: absolute;
                left: 45%;
            }
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }

            .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .change .bar2 {
                opacity: 0;
            }

            .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
            .left {
                flex: 35%;
                padding: 15px 0;
            }

            .left h2 {
                padding-left: 8px;
            }
            #mySearch {
                width: 100%;
                font-size: 18px;
                padding: 11px;
                border: 1px solid #ddd;
            }

            #myMenu {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            #myMenu li a {
                padding: 12px;
                text-decoration: none;
                color: black;
                display: block;
            }

            #myMenu li a:hover {
                background-color: #eee;
            }
            .head {
                height: 100px;
                background-color: #81bef7;
                width: 100%;
            }
            .tabs {
                display: flex;
                flex-wrap: wrap;
            }
            .tabs label {
                width: 33.333333%;
                height: 50px;
                order: 1;
                line-height: 50px;
                font-size: 20px;
                padding: 10px 0px;
                text-align: center;
                display: block;
                cursor: pointer;
                background: white;
                font-weight: bold;
                transition: background ease 0.2s;
            }

            /*박스배경*/
            .tabs .tab {
                top: 70px;
                flex-grow: 1;
                width: 100%;
                position: absolute;

            }
            .tabs input[type="radio"] {
                display: none;
            }

            /*탭 눌렀을때 컬러*/
            .tabs input[type="radio"]:checked + label {
                background: #2a2b2c;
                color: white;
            }
            .tabs input[type="radio"]:checked + label + .tab {
                display: block;
            }

            html,
            body {
                margin: 0;
                padding: 0;
                border: 0;
                text-align: center;
            }
            #A,
            #B {
                position: absolute;
            }
            #A {
                top: 100px;
                width: 200px;
                bottom: 0px;
            }
            #B {
                top: 100px;
                left: 0px;
                right: 0;
                bottom: 0px;
                background-color: #455a64;
            }

            #base {
                background: black;
                display: inline-block;
                height: 20px;
                margin-left: 20px;
                margin-top: 55px;
                position: absolute;
                width: 40px;
                right: 25px;
            }
            #base:before {
                border-bottom: 30px solid black;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                content: "";
                height: 0;
                right: -10px;
                position: absolute;
                top: -25px;
                width: 0;
            }

            h1 {
                color: white;
                font-size: 3em;
                font-weight: 300;
                letter-spacing: 0.1em;
            }

            button {
                display: block;
                border-radius: 100%;
                border: none;
                outline: none;
                margin: 32px;
                padding: 32px;
                background-color: #03a9f4;
                box-shadow: 3px 3px 7px #333;
            }

            button:active {
                box-shadow: none;
            }

            svg {
                fill: white;
                width: 64px;
                height: 64px;
            }

            section {
                display: inline-block;
            }

            .remote-buttons {
                position: relative;
            }

            .aircleanercontrol {
                 display: inline-block;
                 padding: 32px 0;
             }

            .airconditionercontrol {
                display: inline-block;
                padding: 32px 0;
            }

            .humidifiercontrol {
                display: inline-block;
                padding: 32px 0;
            }

            .power {
                background-color: #ff1538;
            }

            .source {
                background-color: #ff8f01;
            }
        }
    </style>
</head>

<body>
<div class="head">
    <div class="container" onclick="btnClick(this)" id="siteMapBtn">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="subject">
        <h2>리모컨 기능</h2>
    </div>
    <div id="base" onclick="location.href='/'" style="cursor: pointer"></div>
</div>
<div id="A" class="left" style="background-color:#bbb;">
    <h2>Menu</h2>
    <input
            type="text"
            id="mySearch"
            onkeyup="myFunction()"
            placeholder="Search.."
            title="Type in a category"
    />
    <ul id="myMenu">
        <li><a href="/main">메인 페이지</a></li>
        <li><a href="/detailair">상세 공기 상태</a></li>
        <li><a href="/dataHistory">누적 데이터</a></li>
        <li><a href="/remoteControl">리모컨 기능</a></li>
        <li><a href="/modeControl">모드 설정</a></li>
    </ul>
</div>
<div id="B">
    <div class="tabs">
        <input type="radio" name="tabs" id="aircleanermode" checked="checked" />
        <label for="aircleanermode" onclick="">공기청정기</label>

        <input type="radio" name="tabs" id="airconditionermode" />
        <label for="airconditionermode" onclick="">에어컨</label>

        <input type="radio" name="tabs" id="humidifiermode" />
        <label for="humidifiermode" onclick="">가습기</label>
    </div>
    <div class="humidifiercontrol">
        <h1>Humidifier Remote Control</h1>
        <div class="remote-buttons">
            <section>

                <button id="humidifierpower" class="power">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 22.1 22.1"
                            style="enable-background:new 0 0 22.1 22.1;"
                            xml:space="preserve"
                    >
              <path
                      d="M11.1,22.1C11.1,22.1,11.1,22.1,11.1,22.1c-2.7,0-5.2-1-7.1-2.9C0.1,15.2,0.1,8.9,4,5c0.4-0.4,1-0.4,1.4,0
                c0.4,0.4,0.4,1,0,1.4c-3.1,3.1-3.1,8.2,0,11.3c1.5,1.5,3.5,2.3,5.7,2.3c0,0,0,0,0,0c2.1,0,4.1-0.8,5.7-2.3c3.1-3.1,3.1-8.2,0-11.3
                c-0.4-0.4-0.4-1,0-1.4c0.4-0.4,1-0.4,1.4,0c3.9,3.9,3.9,10.2,0,14.1C16.2,21,13.7,22.1,11.1,22.1z"
              />
                        <path
                                d="M11.1,12.1c-0.6,0-1-0.4-1-1v-10c0-0.6,0.4-1,1-1s1,0.4,1,1v10C12.1,11.6,11.6,12.1,11.1,12.1z"
                        />
            </svg>
                </button>

                <button id="humidifiersource" class="source">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            width="55.9"
                            height="55.9"
                            viewBox="0 0 55.9 55.9"
                            style="enable-background:new 0 0 55.9 55.9;"
                            xml:space="preserve"
                    >
              <g id="XMLID_5_">
                  <path
                          class="st0"
                          d="M50.5,5.4h-45c-2.8,0-5,2.3-5,5v10h5v-10h45v35.1h-45V35.4h-5v10c0,2.8,2.3,5,5,5h45
                c2.8,0,5-2.2,5-5v-35C55.5,7.7,53.2,5.4,50.5,5.4z M25.4,37.9l10-10l-10-10v7.5h-25v5h25V37.9z"
                  />
              </g>
            </svg>
                </button>
            </section>

            <section class="vol-section">
                <button id="humidifierspeedup">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g class="st0">
                  <polygon
                          class="st1"
                          points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4    "
                  />
                  <rect x="56.3" y="37.4" class="st1" width="23.7" height="7" />
              </g>
                        <g>
                            <polygon points="0,25.3 0,56.7 16.3,56.7 46.9,73.5 46.9,8.5 16.3,25.3    " />
                            <polygon
                                    points="69.8,37.2 69.8,26.5 62.1,26.5 62.1,37.2 51.8,37.2 51.8,44.7 62.1,44.7 62.1,55.5 69.8,55.5 69.8,44.7 80,44.7
            80,37.2    "
                            />
                        </g>
            </svg>
                </button>
                <button id="humidifierspeeddown">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g>
                  <polygon points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4    " />
                  <rect x="56.3" y="37.4" width="23.7" height="7" />
              </g>
            </svg>
                </button>
            </section>
        </div>
    </div>

    <div class="airconditionercontrol">
        <h1>Airconditioner Remote Control</h1>
        <div class="remote-buttons">
            <section>

                <button id="airconditionerpower" class="power">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 22.1 22.1"
                            style="enable-background:new 0 0 22.1 22.1;"
                            xml:space="preserve"
                    >
              <path
                      d="M11.1,22.1C11.1,22.1,11.1,22.1,11.1,22.1c-2.7,0-5.2-1-7.1-2.9C0.1,15.2,0.1,8.9,4,5c0.4-0.4,1-0.4,1.4,0
                c0.4,0.4,0.4,1,0,1.4c-3.1,3.1-3.1,8.2,0,11.3c1.5,1.5,3.5,2.3,5.7,2.3c0,0,0,0,0,0c2.1,0,4.1-0.8,5.7-2.3c3.1-3.1,3.1-8.2,0-11.3
                c-0.4-0.4-0.4-1,0-1.4c0.4-0.4,1-0.4,1.4,0c3.9,3.9,3.9,10.2,0,14.1C16.2,21,13.7,22.1,11.1,22.1z"
              />
                        <path
                                d="M11.1,12.1c-0.6,0-1-0.4-1-1v-10c0-0.6,0.4-1,1-1s1,0.4,1,1v10C12.1,11.6,11.6,12.1,11.1,12.1z"
                        />
            </svg>
                </button>

                <button id="airconditionersource" class="source">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            width="55.9"
                            height="55.9"
                            viewBox="0 0 55.9 55.9"
                            style="enable-background:new 0 0 55.9 55.9;"
                            xml:space="preserve"
                    >
              <g id="XMLID_5_">
                  <path
                          class="st0"
                          d="M50.5,5.4h-45c-2.8,0-5,2.3-5,5v10h5v-10h45v35.1h-45V35.4h-5v10c0,2.8,2.3,5,5,5h45
                c2.8,0,5-2.2,5-5v-35C55.5,7.7,53.2,5.4,50.5,5.4z M25.4,37.9l10-10l-10-10v7.5h-25v5h25V37.9z"
                  />
              </g>
            </svg>
                </button>
            </section>

            <section class="vol-section">
                <button id="airconditionerspeedup">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g class="st0">
                  <polygon
                          class="st1"
                          points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4    "
                  />
                  <rect x="56.3" y="37.4" class="st1" width="23.7" height="7" />
              </g>
                        <g>
                            <polygon points="0,25.3 0,56.7 16.3,56.7 46.9,73.5 46.9,8.5 16.3,25.3    " />
                            <polygon
                                    points="69.8,37.2 69.8,26.5 62.1,26.5 62.1,37.2 51.8,37.2 51.8,44.7 62.1,44.7 62.1,55.5 69.8,55.5 69.8,44.7 80,44.7
            80,37.2    "
                            />
                        </g>
            </svg>
                </button>
                <button id="airconditionerspeeddown">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g>
                  <polygon points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4    " />
                  <rect x="56.3" y="37.4" width="23.7" height="7" />
              </g>
            </svg>
                </button>
            </section>
        </div>
    </div>

    <div class="aircleanercontrol">
        <h1>AirCleaner Remote Control</h1>
        <div class="remote-buttons">
            <section>
                <button id="aircleanerpower" class="power">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 22.1 22.1"
                            style="enable-background:new 0 0 22.1 22.1;"
                            xml:space="preserve"
                    >
              <path
                      d="M11.1,22.1C11.1,22.1,11.1,22.1,11.1,22.1c-2.7,0-5.2-1-7.1-2.9C0.1,15.2,0.1,8.9,4,5c0.4-0.4,1-0.4,1.4,0
                c0.4,0.4,0.4,1,0,1.4c-3.1,3.1-3.1,8.2,0,11.3c1.5,1.5,3.5,2.3,5.7,2.3c0,0,0,0,0,0c2.1,0,4.1-0.8,5.7-2.3c3.1-3.1,3.1-8.2,0-11.3
                c-0.4-0.4-0.4-1,0-1.4c0.4-0.4,1-0.4,1.4,0c3.9,3.9,3.9,10.2,0,14.1C16.2,21,13.7,22.1,11.1,22.1z"
              />
                        <path
                                d="M11.1,12.1c-0.6,0-1-0.4-1-1v-10c0-0.6,0.4-1,1-1s1,0.4,1,1v10C12.1,11.6,11.6,12.1,11.1,12.1z"
                        />
            </svg>
                </button>

                <button id="aircleanersource" class="source">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            width="55.9"
                            height="55.9"
                            viewBox="0 0 55.9 55.9"
                            style="enable-background:new 0 0 55.9 55.9;"
                            xml:space="preserve"
                    >
              <g id="XMLID_5_">
                  <path
                          class="st0"
                          d="M50.5,5.4h-45c-2.8,0-5,2.3-5,5v10h5v-10h45v35.1h-45V35.4h-5v10c0,2.8,2.3,5,5,5h45
                c2.8,0,5-2.2,5-5v-35C55.5,7.7,53.2,5.4,50.5,5.4z M25.4,37.9l10-10l-10-10v7.5h-25v5h25V37.9z"
                  />
              </g>
            </svg>
                </button>
            </section>

            <section class="vol-section">
                <button id="aircleanerspeedup">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g class="st0">
                  <polygon
                          class="st1"
                          points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4 	"
                  />
                  <rect x="56.3" y="37.4" class="st1" width="23.7" height="7" />
              </g>
                        <g>
                            <polygon points="0,25.3 0,56.7 16.3,56.7 46.9,73.5 46.9,8.5 16.3,25.3 	" />
                            <polygon
                                    points="69.8,37.2 69.8,26.5 62.1,26.5 62.1,37.2 51.8,37.2 51.8,44.7 62.1,44.7 62.1,55.5 69.8,55.5 69.8,44.7 80,44.7
            80,37.2 	"
                            />
                        </g>
            </svg>
                </button>
                <button id="aircleanerspeeddown">
                    <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 82 82"
                            style="enable-background:new 0 0 82 82;"
                            xml:space="preserve"
                    >
              <g>
                  <polygon points="0,24.4 0,57.5 17.1,57.5 49.4,75.1 49.4,6.8 17.1,24.4 	" />
                  <rect x="56.3" y="37.4" width="23.7" height="7" />
              </g>
            </svg>
                </button>
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#siteMapBtn").toggle(
            function() {
                $("#B").css({ left: 200 })
            },
            function() {
                $("#B").css({ left: 0 })
            }
        )

        $("#humidifiermode").click(function(){
                $('.aircleanercontrol').hide();
                $('.airconditionercontrol').hide();
                $('.humidifiercontrol').show();
            }
        )

        $("#aircleanermode").click(function(){
            $('.aircleanercontrol').show();
            $('.airconditionercontrol').hide();
            $('.humidifiercontrol').hide();
            }
        )

        $("#airconditionermode").click(function(){
                $('.aircleanercontrol').hide();
                $('.airconditionercontrol').show();
                $('.humidifiercontrol').hide();
            }
        )

        $('.aircleanercontrol').show();
        $('.humidifiercontrol').hide();
        $('.airconditionercontrol').hide();
    })


    function btnClick(x) {
        x.classList.toggle("change")
    }

    function myFunction() {
        let input, filter, ul, li, a, i
        input = document.getElementById("mySearch")
        filter = input.value.toUpperCase()
        ul = document.getElementById("myMenu")
        li = ul.getElementsByTagName("li")
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0]
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = ""
            } else {
                li[i].style.display = "none"
            }
        }
    }

    const aircleanerpowerButton = document.getElementById("aircleanerpower")
    const aircleanersourceButton = document.getElementById("aircleanersource")
    const aircleanerspeedUpButton = document.getElementById("aircleanerspeedup")
    const aircleanerspeedDownButton = document.getElementById("aircleanerspeeddown")

    const airconditionerpowerButton = document.getElementById("airconditionerpower")
    const airconditionersourceButton = document.getElementById("airconditionersource")
    const airconditionerspeedUpButton = document.getElementById("airconditionerspeedup")
    const airconditionerspeedDownButton = document.getElementById("airconditionerspeeddown")

    const humidifierpowerButton = document.getElementById("humidifierpower")
    const humidifiersourceButton = document.getElementById("humidifiersource")
    const humidifierspeedUpButton = document.getElementById("humidifierspeedup")
    const humidifierspeedDownButton = document.getElementById("humidifierspeeddown")

    const sendCommand = command => {
        fetch('' + command, { method: "post", body: command })
    }

    /////////////////////////////공기청정기 제어 함수///////////////////////////////////////////

    const aircleanerpower = () => {
        sendCommand("aircleanercontrol/power")
    }

    const aircleanersource = () => {
        sendCommand("aircleanercontrol/source")
    }


    const aircleanerspeedUp = () => {
        sendCommand("aircleanercontrol/speedup")
    }

    const aircleanerspeedDown = () => {
        sendCommand("aircleanercontrol/speeddown")
    }

    /////////////////////////////에어컨 제어 함수///////////////////////////////////////////

    const airconditionerpower = () => {
        sendCommand("airconditionercontrol/power")
    }

    const airconditionersource = () => {
        sendCommand("airconditionercontrol/source")
    }

    const airconditionerspeedUp = () => {
        sendCommand("airconditionercontrol/speedup")
    }

    const airconditionerspeedDown = () => {
        sendCommand("airconditionercontrol/speeddown")
    }

    /////////////////////////////가습기 제어 함수///////////////////////////////////////////

    const humidifierpower = () => {
        sendCommand("humidifiercontrol/power")
    }

    const humidifiersource = () => {
        sendCommand("humidifiercontrol/source")
    }

    const humidifierspeedUp = () => {
        sendCommand("humidifiercontrol/speedup")
    }

    const humidifierspeedDown = () => {
        sendCommand("humidifiercontrol/speeddown")
    }

    aircleanerpowerButton.addEventListener("click", aircleanerpower)
    aircleanersourceButton.addEventListener("click", aircleanersource)
    aircleanerspeedUpButton.addEventListener("click", aircleanerspeedUp)
    aircleanerspeedDownButton.addEventListener("click", aircleanerspeedDown)

    humidifierpowerButton.addEventListener("click", humidifierpower)
    humidifiersourceButton.addEventListener("click", humidifiersource)
    humidifierspeedUpButton.addEventListener("click", humidifierspeedUp)
    humidifierspeedDownButton.addEventListener("click", humidifierspeedDown)

    airconditionerpowerButton.addEventListener("click", airconditionerpower)
    airconditionersourceButton.addEventListener("click", airconditionersource)
    airconditionerspeedUpButton.addEventListener("click", airconditionerspeedUp)
    airconditionerspeedDownButton.addEventListener("click", airconditionerspeedDown)

</script>
</body>
</html>
