<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>숨좀쉬자</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" href="./css/main.css">

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
		
	</script>
	<script src="./js/main.js"></script>

	<script>
	$(document).ready(function() {
		$("#detail").click(function() {
                popup();
        })
	})
	function popup(){
            
            var url = "/popup";
            var name = "popup_test";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            var w = window.open(url, name, option);
          

        }
	</script>
	<script>
	function showDiv() {
		if(document.getElementById('detail').style.visibility == "hidden"){
			document.getElementById('detail').style.visibility = "visible";
			document.getElementById('reservation').style.visibility = "hidden";
		}
		else{
			document.getElementById('detail').style.visibility = "hidden";
			document.getElementById('reservation').style.visibility = "visible";
		}
	}

	
	

	function popup(){
            var url = "/popup";
            var name = "popup_test";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            var w = window.open(url, name, option);
	}

	function getTemp() {
            $.ajax({
                type: 'GET',
                url : "/insertdb/whatstatus",
                async: true,
                success : function (data) {
                    let status = JSON.parse(data);
                    let temp_Outer = status.temp_Outer;
                    let temp_Inner = status.temp_Inner;
                    let humid_Outer = status.humid_Outer;
                    let humid_Inner = status.humid_Inner;
                    let pm10_Outer = status.pm10_Outer;
                    let pm10_Inner = status.pm10_Inner;
                    let pm25_Outer = status.pm25_Outer;
                    let pm25_Inner = status.pm25_Inner;
                    let voc_Outer = status.voc_Outer;
                    let voc_Inner = status.voc_Inner;

                    document.getElementById('temp_Outer').innerHTML= "온도 <strong> "+ temp_Outer + "℃</strong>";
                    document.getElementById('temp_Inner').innerHTML= "온도 <strong> "+ temp_Inner + "℃</strong>";
                    document.getElementById('humid_Outer').innerHTML= "습도 <strong>"+ humid_Outer+ "%</strong>";
                    document.getElementById('humid_Inner').innerHTML= "습도 <strong>"+ humid_Inner+ "%</strong>";
                    document.getElementById('pm10_Outer').innerHTML= "PM10 <strong>"+ pm10_Outer + "</strong>";
                    document.getElementById('pm10_Inner').innerHTML= "PM10 <strong>"+ pm10_Inner + "</strong>";
                    document.getElementById('pm25_Outer').innerHTML= "PM2.5 <strong>"+ pm25_Outer + "</strong>";
                    document.getElementById('pm25_Inner').innerHTML= "PM2.5 <strong>"+ pm25_Inner + "</strong>";
                    document.getElementById('voc_Outer').innerHTML= "VOC <strong>"+ voc_Outer + "</strong>";
                    document.getElementById('voc_Inner').innerHTML= "CO2 <strong>"+ voc_Inner + "</strong>";

                },
                error:function(request,status,error){
                    alert(status + " " + error);
                }
            });
            setInterval(function() {
                $.ajax({
                    type: 'GET',
                    url : "/main/whatstatus",
                    async: true,
                    success : function (data) {
                        let status = JSON.parse(data);
                        let temp_Outer = status.temp_Outer;
                        let temp_Inner = status.temp_Inner;
                        let humid_Outer = status.humid_Outer;
                        let humid_Inner = status.humid_Inner;
                        let pm10_Outer = status.pm10_Outer;
                        let pm10_Inner = status.pm10_Inner;
                        let pm25_Outer = status.pm25_Outer;
                        let pm25_Inner = status.pm25_Inner;
                        let voc_Outer = status.voc_Outer;
                        let voc_Inner = status.voc_Inner;


						document.getElementById('temp_Outer').innerHTML= "온도 <strong> "+ temp_Outer + "℃</strong>";
						document.getElementById('temp_Inner').innerHTML= "온도 <strong> "+ temp_Inner + "℃</strong>";
						document.getElementById('humid_Outer').innerHTML= "습도 <strong>"+ humid_Outer+ "%</strong>";
						document.getElementById('humid_Inner').innerHTML= "습도 <strong>"+ humid_Inner+ "%</strong>";
						document.getElementById('pm10_Outer').innerHTML= "PM10 <strong>"+ pm10_Outer + "</strong>";
						document.getElementById('pm10_Inner').innerHTML= "PM10 <strong>"+ pm10_Inner + "</strong>";
						document.getElementById('pm25_Outer').innerHTML= "PM2.5 <strong>"+ pm25_Outer + "</strong>";
						document.getElementById('pm25_Inner').innerHTML= "PM2.5 <strong>"+ pm25_Inner + "</strong>";
						document.getElementById('voc_Outer').innerHTML= "VOC <strong>"+ voc_Outer + "</strong>";
						document.getElementById('voc_Inner').innerHTML= "CO2 <strong>"+ voc_Inner + "</strong>";
                    },
                    error:function(request,status,error){
                        alert(status + " " + error);
                    }
                });
            }, 3000);
        }

        getTemp();











	</script> 
</head>
<body>
	<div class="container">
		<header id="header">
			<button type="button" class="btn-menu">메뉴</button>
			<a href="#" class="btn-home">홈으로</a>

			<div class="nav">
				<div class="nav-wrap">
					<h2 class="logo">로고</h2>
					<div class="search-box">
						<input
								type="text"
								id="mySearch"
								onkeyup="myFunction()"
								placeholder="Search.."
								title="메뉴를 입력하세요."
						/>
						<button type="button"></button>
					</div>
					<ul id="myMenu">
						<li class="active"><a href="#">메인페이지</a></li>
						<li class="btn-air"><a href="#">상세 공기 상태</a></li>
						<li class="btn-data"><a href="#">누적 데이터</a></li>
						<li class="btn-remote"><a href="#">리모컨 기능</a></li>
						<li class="btn-mode"><a href="#">모드설정</a></li>
					</ul>
					<button type="button" class="btn-close">닫기</button>
					<button type="button" class="btn-logout" ><a href="#">로그아웃</a></button>
				</div>
			</div>
		</header>
		<div class="contents-wrap">
			<h3 class="sub-title">메인화면</h3>

			<!--  정보 -->
			<div class="info-viewer">
				<!-- 실외 -->
				<div class="out-door">
					<div>
						<h4>실외</h4>
						<span class="thum"></span>
					</div>
					<ul>
						<li id="temp_Outer"> 온도 <strong>1℃</strong></li>
						<li id="humid_Outer">습도 <strong>10%</strong></li>
						<li id="pm10_Outer">PM10 <strong>110</strong></li>
						<li id="pm25_Outer">PM2.5 <strong>98</strong></li>
						<li id="voc_Outer">VOC <strong>20</strong></li>
						<li id="temp_Outer">CO2 <strong>8</strong></li>
					</ul>
				</div>
				<!-- // 실외 -->
				<!-- 실내 -->
				<div class="in-door">
					<div>
						<h4>실내</h4>
						<span class="thum2"></span>
					</div>
					<ul>
						<li id="temp_Inner">온도 <strong>10℃</strong></li>
						<li id="humid_Inner">습도 <strong>10%</strong></li>
						<li id="pm10_Inner">PM10 <strong>110</strong></li>
						<li id="pm25_Inner">PM2.5 <strong>98</strong></li>
						<li id="voc_Inner">VOC <strong>10</strong></li>
						<li id="temp_Inner">CO2 <strong>8</strong></li>
					</ul>
				</div>
				<!-- // 실내 -->

				<div class="btn-wrap">  
					<div class="detail-wrap">
						<a href="#" id="detail" style="visibility : hidden">상세보기</a>
						<a href="#" id="reservation" style="visibility : visible">예약하기</a>
					</div>
					<div class="switch-box" >
						<div class="switch">
							<input type="checkbox" id="checkbox" onclick= showDiv()>
							<label for="checkbox"><span></span></label>
						</div>
					</div>
				</div>
			</div>
			<!-- // 정보 -->
		</div>
	</div>
</body>
</html>