@media (max-width: 1000px) {
    .container {
        cursor: pointer;
        margin: 15px;
        position: absolute;
    }
    .subject {
        position: absolute;
        left: 40%;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .left {
        flex: 35%;
        padding: 15px 0;
    }

    .left h2 {
        padding-left: 8px;
    }
    #mySearch {
        width: 100%;
        font-size: 18px;
        padding: 11px;
        border: 1px solid #ddd;
    }

    #myMenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: black;
        display: block;
    }

    #myMenu li a:hover {
        background-color: #eee;
    }
    .head {
        height: 80px;
        width: 100%;
        background-color: #81bef7;
    }
    html,
    body {
        left: 50px;
        right: 50px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #A,
    #B {
        position: absolute;
    }
    #A {
        top: 80px;
        width: 200px;
        bottom: 0px;
    }
    #B {
        top: 80px;
        left: 0px;
        right: 0;
        bottom: 0px;
        background: white;
    }
    #outerinfo {
        font-size: 20px;
        padding: 15px;
        text-align: center;
        font-weight: bold;
        color: skyblue;
    }
    #innerinfo {
        font-size: 18px;
        padding: 85px;
        text-align: center;
        font-weight: bold;
        color: blueviolet;
    }
    #upleft {
        width: 100%;
        height: 50%;
        top: 0%;
        background: url("../sky.PNG");
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100% 100%;
        position: absolute;
    }
    #downright {
        width: 100%;
        top: 50%;
        height: 50%;
        background: url("../house.PNG");
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100% 100%;
        position: absolute;
    }
    #base {
        background: black;
        display: inline-block;
        height: 20px;
        margin-left: 20px;
        margin-top: 45px;
        position: absolute;
        width: 40px;
        right: 25px;
    }
    #base:before {
        border-bottom: 30px solid black;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        content: "";
        height: 0;
        right: -10px;
        position: absolute;
        top: -25px;
        width: 0;
    }
    #circle1 {
        background-color: #86efef;
        width: 150px;
        height: 150px;
        right: 5%;
        bottom: 5%;
        border-radius: 75px;
        line-height: 75px;
        position: absolute;
        cursor: pointer;
    }
    #cirtext {
        top: 50%;
        font-size: 30px;
        text-align: center;
        vertical-align: center;
    }

    
}
@media (min-width: 1000px) {
    .container {
        cursor: pointer;
        margin: 25px;
        position: absolute;
    }
    .subject {
        position: absolute;
        left: 45%;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .left {
        flex: 35%;
        padding: 15px 0;
    }

    .left h2 {
        padding-left: 8px;
    }
    #mySearch {
        width: 100%;
        font-size: 18px;
        padding: 11px;
        border: 1px solid #ddd;
    }

    #myMenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: black;
        display: block;
    }

    #myMenu li a:hover {
        background-color: #eee;
    }
    .head {
        height: 100px;
        background-color: #81bef7;
        width: 100%;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
    #A,
    #B {
        position: absolute;
    }
    #A {
        top: 100px;
        width: 200px;
        bottom: 0px;
    }
    #B {
        top: 100px;
        left: 0px;
        right: 0;
        bottom: 0px;
        background: white;
    }
    #outerinfo {
        font-size: 25px;
        padding: 150px;
        text-align: center;
        font-weight: bold;
        color: skyblue;
    }
    #innerinfo {
        font-size: 25px;
        padding: 250px;
        text-align: center;
        font-weight: bold;
        color: blueviolet;
    }
    #upleft {
        width: 50%;
        height: 100%;
        left: 0px;
        background: url("../sky.PNG");
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100% 100%;
        position: absolute;
    }
    #downright {
        width: 50%;
        left: 50%;
        height: 100%;
        position: absolute;
        background: url("../house.png");
        background-position-x: 0px;
        background-position-y: 0px;
        background-size: 100% 100%;
    }
    #base {
        background: black;
        display: inline-block;
        height: 20px;
        margin-left: 20px;
        margin-top: 55px;
        position: absolute;
        width: 40px;
        right: 25px;
    }
    #base:before {
        border-bottom: 30px solid black;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        content: "";
        height: 0;
        right: -10px;
        position: absolute;
        top: -25px;
        width: 0;
    }
    #circle1 {
        background-color: #86efef;
        width: 150px;
        height: 150px;
        right: 10%;
        bottom: 5%;
        border-radius: 75px;
        line-height: 75px;
        position: absolute;
        cursor: pointer;
    }
    #cirtext {
        top: 50%;
        font-size: 30px;
        text-align: center;
        vertical-align: center;
    }
    #circle2 {
        background-color: #86efef;
        width: 150px;
        height: 150px;
        right: 30%;
        bottom: 5%;
        border-radius: 75px;
        line-height: 75px;
        position: absolute;
        cursor: pointer;
    }
    #cirtext2 {
        top: 50%;
        font-size: 30px;
        text-align: center;
        vertical-align: center;
    }
}