@charset 'utf-8';
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font:inherit; font-size:100%; vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; font-family:'NanumSquare', sans-serif;}
html {line-height:1.2; -webkit-text-size-adjust:100%; font-family:'NanumSquare', sans-serif;}
body,html {width:100%; height:100%; font-family:'NanumSquare', sans-serif;}
ol,ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a,a:link,a:focus,a:hover,a:active {background:transparent; text-decoration:none;}
address,em {font-stretch:normal;}
fieldset,img {max-width:100%; border:0;}
button,input,optgroup,select,textarea {margin:0; padding:0; line-height:1.15; font-family:inherit; font-size:100%; outline: none;}
button , [type="button"] , [type=reset] , [type=submit] {background:transparent; border:0; -webkit-appearance:button;}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {padding:0; border-style:none;}
.blind {display:block; overflow:hidden; position:absolute; top:0; left:0; background:0 0; width:0; height:0; border:0; line-height:0; font-size:0;}